<!-- ############## SHADOWED ITEMS ############## -->

<!-- shadowed phamphlet -->
<div class="section mb-2 pt-1 pb-1">
    <div class="container shadow">
        <div class="col-12 px-0">
            <div class="mx-3 py-5 mt-0 alert alert-light">
                <div class="text-center sub-heading mt-0 mb-3">
                    <mark class="marker-highlight">Liking it? Join Us<span class="purple">.</span></mark>
                </div>

                <p class="lead text-center black">
                    <strong>Real Posts</strong> 
                    deals with all a good amount of paragraph meant to inspire readers
                    ultimately leading them to subscribe.
                    So what are you waiting for? Subscribe!
                </p>

                <p class="text-center mt-4">
                    <a href="#" class="btn original text-white btn-lg py-2">
                        Join Us Now.
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- shadowed subscription -->
<div class="py-5 mb-2 secondary mx-md-3 sec-subscribe">
    <div class="container px-5 py-5 shadow">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h4 fw-bold">Free Newsletter Subscription! <span class="purple">No Spam. Guaranteed.</span></h2>
            </div>
        </div>

        <form action="" class="row">
            <div class="col-md-8">
                <div class="mb-3 mb-md-0">
                    <input type="email" class="form-control" placeholder="Drop your Email..">
                </div>
            </div> 

            <!-- button -->
            <div class="col-md-4 d-grid">
                <input type="submit" class="btn original text-white" value="Subscribe">
            </div>
        </form>
    </div>
</div>

<!-- shadowed comment1 -->
<div class="col-lg-12 mb-4 px-5 py-5 shadow">
    <div class="post-entry d-lg-flex">
        <div class="me-lg-5 thumbnail secondary b-4 mb-lg-0 align-self-center text-center mb-3">
            <!-- commentor -->
            <div class="sub-heading">Peter McCunnings<span class="purple">.</span></div>
        </div>

        <!-- feedback -->
        <div class="content align-self-center">
            <p class="lead">
                <mark class="marker-highlight">“Real Python has totally changed the way I look at paid content online.</mark>
                I’ve long held the notion that everything that one wishes to learn is freely available on the internet, but that was reminiscent of the time I was a university student (and as such, with a lot of time on my hand to find and filter quality resources).
            </p>
        </div>
    </div>
</div>

<!-- shadowed comment2 -->
<div class="col-12 col-md-12 align-self-center mb-4 px-5 py-5 shadow">
    <!-- author -->
    <div class="sub-heading">Random Pick<span class="purple">.</span></div>

    <!-- feedback -->
    <p class="lead">
        <mark class="marker-highlight">“Real Python has totally changed the way I look at paid content online.</mark>
        I’ve long held the notion that everything that one wishes to learn is freely available on the internet, but that was reminiscent of the time I was a university student (and as such, with a lot of time on my hand to find and filter quality resources).
    </p>

</div>

