{%extends "base.html"%}
{%block content%}
    <!-- Home section -->
    <!-- heading -->
    <div class="section pt-5 pb-3">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 text-center">
                    <h1 class="heading">All Things Development<span class="purple">.</span></h1>
                </div>
            </div>

            <!-- trending post -->
            <div class="row pt-5">
                <div class="col-lg-12 px-5 py-5 shadow">
                    <div class="post-entry d-lg-flex">
                    
                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- content -->
                        <div class="content align-self-center">
                            <div class="post-meta mb-3">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>

                            <!-- topic -->
                            <h2 class="sub-heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- heading ends -->

    <!-- blog gallery -->
    <div class="section">
        <div class="container">
            <div class="row g-5">
                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">

                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">
                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">
                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">
                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">
                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

            </div>
        </div>
    </div>
    <!-- blog gallery ends -->

    <!-- Ads section begins-->
    <!-- Ads section ends-->

    <!-- pamphlet section begins -->
    <div class="section mb-2 pt-1 pb-1">
        <div class="container shadow">
            <div class="col-12 px-0">
                <div class="mx-3 py-5 mt-0 alert alert-light">
                    <div class="text-center sub-heading mt-0 mb-3">
                        <mark class="marker-highlight">Liking it? Join Us<span class="purple">.</span></mark>
                    </div>

                    <p class="lead text-center black">
                        <strong>Real Posts</strong> 
                        deals with all a good amount of paragraph meant to inspire readers
                        ultimately leading them to subscribe.
                        So what are you waiting for? Subscribe!
                    </p>

                    <p class="text-center mt-4">
                        <a href="#" class="btn original text-white btn-lg py-2">
                            Join Us Now.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section mb-2 pt-1 pb-1">
        <div class="container">
            <div class="col-12 px-0">
                <div class="mx-3 py-5 mt-0 alert alert-light border">
                    <div class="text-center sub-heading mt-0 mb-3">
                        <mark class="marker-highlight">Strongly Supporting ZBunker<span class="purple">.</span></mark>
                    </div>

                    <p class="lead text-center black">
                        <strong>Put up</strong> 
                        an advertisement or anything related to it which indicates that 
                        I am strongly supporting the cause of ZBunker. It will be great if 
                        I could plug in an awesome ZBunker banner inside Pointman.dev
                        which would inadvertently show ZBunker's involvement as well.
                    </p>

                    <p class="text-center mt-4">
                        <a href="#" class="btn original text-white btn-lg py-2">
                            Join Us Now.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- pamphlet section ends -->

    <!-- blog gallery continues -->
    <div class="section">
        <div class="container">
            <div class="row g-5">
                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">
                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">
                        <!-- image -->
                        <figure class="embed-responsive embed-responsive-16by9 b-4 mb-lg-0 me-lg-5">
                            <a href=""><img src="../static/img/test.png" class="card-img-top m-0 p-0 embed-responsive-item" style="object-fit: contain;"></a>
                        </figure>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

                <!-- card -->
                <div class="col-lg-4">
                    <div class="post-entry d-block small-post-entry-v">
                        <div class="thumbnail secondary">
                            <!-- image -->
                            <a href="#">
                                <div class="text-center">
                                    <div class="xl-heading">1<span class="purple">.</span></div>
                                </div>
                            </a>
                        </div>

                        <!-- contents -->
                        <div class="content">
                            <div class="post-meta mb-1">
                                <!-- tags -->
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                <a href="#" class=" purple-secondary-bg category badge black">Python</a>
                                —

                                <!-- date -->
                                <span class="date">July 2, 2020</span>
                            </div>
                            
                            <!-- topic -->
                            <h2 class="heading mb-3 black">
                                <a href="#"> This is a ridiculuosly large text just for practical purposes.</a>
                            </h2>

                            <!-- article para -->
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- card ends -->

                
                
            </div>
        </div>
    </div>
    <!-- blog gallery ends -->

    <!-- newsletter begins -->
    <div class="py-5 mb-2 secondary mx-md-3 sec-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h4 fw-bold">Free Newsletter Subscription! <span class="purple">No Spam. Guaranteed.</span></h2>
                </div>
            </div>

            <form action="" class="row">
                <div class="col-md-8">
                    <div class="mb-3 mb-md-0">
                        <input type="email" class="form-control" placeholder="Drop your Email..">
                    </div>
                </div> 

                <!-- button -->
                <div class="col-md-4 d-grid">
                    <input type="submit" class="btn original text-white" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
    <!-- newsletter ends -->

    <!-- testimonials section begins -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 text-center">
                    <h2 class="heading">What They Say<span class="purple">.</span></h2>
                    <h5 class="text-muted"><span class="purple h2 fw-bold">"</span>Your dev blogs are awesome! Keeps me engaged and motivates me to learn more.<span class="purple h2 fw-bold">"</span></h2>
                </div>
            </div>
        </div>

        <!-- comments -->
        <div class="container pt-5 mb-4">
            <div class="row">

                <!-- popular comment -->
                <div class="col-lg-12 mb-4 px-5 py-5 shadow">
                    <div class="post-entry d-lg-flex">
                        <div class="me-lg-5 thumbnail secondary b-4 mb-lg-0 align-self-center text-center mb-3">
                            <!-- commentor -->
                            <div class="sub-heading">Peter McCunnings<span class="purple">.</span></div>
                        </div>

                        <!-- feedback -->
                        <div class="content align-self-center">
                            <p class="lead">
                                <mark class="marker-highlight">“Real Python has totally changed the way I look at paid content online.</mark>
                                I’ve long held the notion that everything that one wishes to learn is freely available on the internet, but that was reminiscent of the time I was a university student (and as such, with a lot of time on my hand to find and filter quality resources).
                            </p>
                        </div>
                    </div>
                </div>

                
                <!-- comments -->
                <div class="col-12 col-md-12 align-self-center mb-4 px-5 py-5 shadow">
                    <!-- author -->
                    <div class="sub-heading">Random Pick<span class="purple">.</span></div>

                    <!-- feedback -->
                    <p class="lead">
                        <mark class="marker-highlight">“Real Python has totally changed the way I look at paid content online.</mark>
                        I’ve long held the notion that everything that one wishes to learn is freely available on the internet, but that was reminiscent of the time I was a university student (and as such, with a lot of time on my hand to find and filter quality resources).
                    </p>
                
                </div>

                <!-- comments -->
                <div class="col-12 col-md-12 align-self-center mb-4 px-5 py-5 shadow">
                    <!-- author -->
                    <div class="sub-heading">Random Pick<span class="purple">.</span></div>

                    <!-- feedback -->
                    <p class="lead">
                        <mark class="marker-highlight">“Real Python has totally changed the way I look at paid content online.</mark>
                        I’ve long held the notion that everything that one wishes to learn is freely available on the internet, but that was reminiscent of the time I was a university student (and as such, with a lot of time on my hand to find and filter quality resources).
                    </p>
                
                </div>
                
            </div>
        </div>
    </div>
    <!-- testimonials section ends -->
    <!-- Home section ends -->
{%endblock%}
