{%extends "base.html"%}
{%block content%}

<div class="section pt-5 pb-3">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-12 text-center">
                <h1 class="heading">Firm handshakes to <span class="purple">2343</span> supporters 🤝</h1>
                <h5 class="text-muted"><i>By supporting me, you are not only appreciating my work, efforts and contents but championing a greater cause as well. <br><strong class="purple">40%</strong> of your contribution is channeled to <strong class="blue"><a href="#">ZBunker</a></strong>. An education initiative on YouTube focussed at development and ethical hacking.</i></h5>
            </div>
        </div>

        <!-- tag begins -->
        <div class="row pt-5 pb-5 tag-section">
            <div class="col-lg-12">
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">flask</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">python-web-dev</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">ethical-hacking</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">python</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">hello</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">flask</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">python-web-dev</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">ethical-hacking</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">python</div>
                
                    <div class="tag me-2 py-1 px-3 h2 purple" style="display: inline-block;">hello</div>
            </div>
        </div>

    </div>
</div>

{%endblock%}
