{%extends "base.html"%}
{%block content%}
<!-- buymeacoffee btn script -->
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="pointman.dev" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>


<div class="section" style="background-color: #a239ca;">
    <div class="container py-5 px-5" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-12 text-center">
                <h1 class="heading">Firm handshakes to <span class="purple">2343</span> supporters 🤝</h1>
                <h5 class="text-muted">Your donations keep this site alive and running. It helps me to pay the infrastructure charges timely.
                    Plus, <br><strong class="purple">40%</strong> of your individual contribution is channeled to <strong class="blue"><a href="https://www.zbunker.in" target="_blank" rel="noopener noreferrer">ZBunker <i class="bi bi-box-arrow-up-right blue" style="font-size: 15px; font-weight: 800;"></i></a></strong>. An education initiative on YouTube focussed at development and ethical hacking.</h5>
                <p class="text-center mt-4">
                    <a href="#" class="m-2 btn original text-white btn-lg py-2">Support PointDev</a> <span class="text-muted fw-bold"> — or —</span>
                    <a href="{{url_for('store')}}" class="m-2 btn bg-original btn-lg py-2" style="color: #00D8FF;">Directly Support ZBunker</a> <span class="text-muted fw-bold"> — or —</span>
                    <a href="#" class="m-2 btn btn-lg py-2" style="background-color: #FFDD00;color: black; font-weight: 600;">Buy Me A Coffee</a>

                </p>
                <hr class="mt-5">
            </div>
        </div>

        <!-- tag begins -->
        <div class="heading sub-heading text-center"><u>special thanks to</u> </div>
        <div class="row pt-5 pb-5 tag-section">
            <div class="col-lg-12 text-center">
                
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">CYBERDEVILZ</div>                
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">Awlled</div>                    
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">notæpro</div>                
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">>_<</div>                
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">Elliot4ld3r$0n</div>                
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">andreas</div>            
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">akhattak</div>            
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">devam_patel</div>            
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">armaan</div>
                <div class="tag me-2 py-1 px-3 h3 purple" style="display: inline-block; font-weight: 600; font-style:italic">jabyNash</div>
            </div>
            
        </div>

    </div>
</div>

{%endblock%}
