{%extends "base.html"%}
{%block content%}

<div class="section pt-5 pb-3">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center">
                <h1 class="heading">Tags<span class="purple">.</span></h1>
            </div>
        </div>

        <!-- tag begins -->
        <div class="row pt-5 pb-3 tag-section">
            <div class="col-lg-12">
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#flask</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#python-web-dev</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#ethical-hacking</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#python</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#hello</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#flask</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#python-web-dev</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#ethical-hacking</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#python</div>
                </a>
                <a href="" class="heading sub-heading" >
                    <div class="tag me-2 py-1 px-3 h2" style="display: inline-block;color: #00D8FF;background-color: #222222;">#hello</div>
                </a>
            </div>
        </div>

        <!-- Ads between paragraph example -->
        <div class="sidebar-module sidebar-module-inset p-0" style="overflow:hidden;">
            <!-- ad -->
            <div style="display:block;position:relative;">
              <div style="display:block;width:100%;padding-top:12.5%;"></div>

              <div class="rounded border" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;">
                <a href="#" target="_blank" rel="nofollow">
                  <!-- put ad image here size(960 x 120) -->
                  <img src="https://via.placeholder.com/960x120" alt="" style="max-width:100%; max-height:100%; width:100%;">
                </a>
              </div>
            </div>

            <!-- remove ad -->
            <a href="#" class="small text-muted" rel="nofollow">
              <i class="bi bi-gift-fill" aria-hidden="true">
                Advertisement
              </i>
            </a>
          </div>
          <!-- Ads between paragraph example ends -->

    </div>
</div>

{%endblock%}
